build/
.vscode-ctags
./owl/*
tags
.vscode-ctags.next
./code_io/*
./output
.vscode/launch.json
.vscode/tasks.json
.cache
.cproject
.project
src/.settings/
/output
intermediate/
w64devkit
glfw-3.3.8
packagecache
/intermediate/preprocessor/*.txt
build_windows.zip

intermediate/preprocessor/test_do_while.txt
intermediate/preprocessor/test_procedimiento.txt
intermediate/preprocessor/test-broken.txt
intermediate/preprocessor/test-cosa.txt
intermediate/preprocessor/test-funcion.txt
intermediate/preprocessor/test.pseudo
intermediate/preprocessor/test.txt
intermediate/preprocessor/test2.txt
intermediate/preprocessor/test3.txt
intermediate/preprocessor/test4.txt
