intermediate/
build/
.vscode-ctags
./owl/*
tags
.vscode-ctags.next
./code_io/*
./output
.vscode/launch.json
.vscode/tasks.json
.cache
.cproject
.project
src/.settings/
/output
w64devkit
glfw-3.3.8
packagecache
build_windows.zip
